---
import { VIEWS, BASE_URL } from "../constants";

export interface Props {
  slug: string;
  currentView: string;
}

const { slug, currentView } = Astro.props as Props;

// TODO: Maybe pass this in as a prop? Some options:
// - the full iframe URL each time (has some duplication)
// - an optional extension (probably for `diff` only)
// - an optional boolean indicating whether `.html` is appended
let iframeSrc = `${BASE_URL}consult_assets/${slug}/${currentView}/index.html`;
---

<h1>{slug}</h1>

<ul id="buttonContainer" class="usa-button-group usa-button-group--segmented">
  {VIEWS.map((view) => (
    <li class="usa-button-group__item">
      <a
        href={view}
        class={`usa-button ${
          currentView === view ? "" : "usa-button--outline"
        }`}
      >
        {view.charAt(0).toUpperCase() + view.slice(1)}
      </a>
    </li>
  ))}
</ul>

<iframe
  src={iframeSrc}
  class="grid-col-12 flex-1 width-viewport"
  frameborder="0"></iframe>
