---
const { slug, currentView } = Astro.props;

const VIEWS = [
  {
    name: "current",
    iframeSrc: `/consult_assets/${slug}/current/${slug}.html`,
  },
  {
    name: "proposed",
    iframeSrc: `/consult_assets/${slug}/proposed/${slug}.html`,
  },
  {
    name: "diff",
    iframeSrc: `/consult_assets/${slug}/diff.html`,
  },
  {
    name: "production",
    iframeSrc: "/TODO",
  },
];

const { iframeSrc } = VIEWS.find(({ name }) => name === currentView);
---

<h1>{slug}</h1>

<ul id="buttonContainer" class="usa-button-group usa-button-group--segmented">
  {VIEWS.map(({ name }) => (
    <li class="usa-button-group__item">
      <a
        href={name}
        class={`usa-button ${
          currentView === name ? "" : "usa-button--outline"
        }`}
      >
        {name.charAt(0).toUpperCase() + name.slice(1)}
      </a>
    </li>
  ))}
</ul>

<!-- TODO: iframe height -->
<iframe src={iframeSrc} class="grid-col-12"></iframe>
