---
import BaseLayout from "../../layouts/BaseLayout.astro";
import chartData from "../../../public/data/websites.json";
---

<BaseLayout title="Website List">
  <style>
    .usa-table td {
      white-space: break-spaces;
    }
  </style>
  <div id="websites">
    <div class="grid-row margin-bottom-2">
      <section aria-label="Big search component">
        <label class="usa-sr-only" for="search-field-en-big"> Search</label>
        <input
          class="usa-input search"
          id="search-field-en-big"
          type="search"
          name="search"
          placeholder="Search e.g. 'FAS', 'Application', 'Leasing'"
          style="border-right: 1px solid #565c65; width: 450px"
        />
      </section>
    </div>
    <p><a href="charts">View as a chart</a></p>
    <div class="usa-table-container--scrollable">
      <table class="usa-table usa-table--striped">
        <thead>
          <tr>
            <th scope="col" class="text-center">URL</th>
            <th scope="col" class="text-center">Office</th>
            <th scope="col" class="text-center">Sub-Office</th>
            <th scope="col" class="text-center">Digital Brand Category</th>
            <th scope="col" class="text-center">Type of Domain</th>
            <th scope="col" class="text-center">Customer Centricity</th>
            <th scope="col" class="text-center">Required Links</th>
            <th scope="col" class="text-center">Mobile Performance</th>
            <th scope="col" class="text-center">Accessibility (AMP)</th>
            <th scope="col" class="text-center">Google Analytics</th>
            <th scope="col" class="text-center">USWDS</th>
          </tr>
        </thead>
        <tbody class="list">
          {chartData.map((data) => {
            return (
              <tr>
                <th class="name" scope="row">
                  {data.name}
                </th>
                <td class="office">{data.office}</td>
                <td class="subOffice">{data.subOffice}</td>
                <td class="digitalBrandCategory">
                  {data.digitalBrandCategory}
                </td>
                <td class="typeOfDomain">{data.typeOfDomain}</td>
                <td class="">{data.datapointA.val}</td>
                <td class="">{data.datapointB.val}</td>
                <td class="">{data.datapointC.val}</td>
                <td class="">{data.datapointD.val}</td>
                <td class="">{data.datapointE.val}</td>
                <td class="">{data.datapointF.val}</td>
              </tr>
            )
          })}
        </tbody>
      </table>
    </div>
  </div>

  <script>
    import List from "list.js";

    // this sets up search using listjs
    var options = {
      valueNames: [
        "name",
        "office",
        "subOffice",
        "digitalBrandCategory",
        "typeOfDomain",
      ],
    };
    new List("websites", options);
  </script>
</BaseLayout>
